<header>
    <nav class="navbar navbar-expand-md bg-light">
        <div class="container-fluid">
            <a href="#" class="navbar-brand" data-test="logo">Logo</a>
            <form id="nav" action="#" class="d-flex" role="search" data-test="search">
                <input
                    type="search"
                    class="form-control me-2"
                    placeholder="Search Homes"
                    aria-label="Search"
                >
            </form>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" data-test="menu">
                <ul class="navbar-nav ms-auto mb-lg-0">
                    <li class="nav-item"><a class="nav-link">Become a Host</a></li>
                    <li class="nav-item"><a class="nav-link">Help</a></li>
                    <li class="nav-item"><a class="nav-link">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar navbar-expand-sm bg-light border-top">
        <ul class="navbar-nav  mb-lg-0 text-uppercase">
            <li class="nav-item"><a class="nav-link" data-test="home-type">Home Type</a></li>
            <li class="nav-item"><a class="nav-link" data-test="dates">Dates</a></li>
            <li class="nav-item"><a class="nav-link" data-test="guests">Guests</a></li>
            <li class="nav-item"><a class="nav-link" data-test="price">Price</a></li>
            <li class="nav-item"><a class="nav-link" data-test="rooms">Rooms</a></li>
            <li class="nav-item"><a class="nav-link" data-test="amenities">Amenities</a></li>
        </ul>
    </div>
</header>



