<app-toaster></app-toaster>
<h1>Shopping Cart</h1>
<section *ngIf="cartItems.length; else elseBlock">
    <app-cart-left
        [orderProducts]="cartItems"
        (removeClick)="handleRemoveClick($event)"
        (quantityChange)="handleCartLeftQuantityChange($event)"></app-cart-left>
    <app-cart-right
        [orderTotal]="cartTotal$"
        (formSubmit)="handleCartRightFormSubmit($event)"
    ></app-cart-right>
</section>
<ng-template #elseBlock>
    <h2 class="empty-message">Your Cart is Empty 🛒</h2>
</ng-template>
