form>h4 {
    margin: 0 0 5px 0;
}

form>input {
    background-color: var(--primary-background);
    width: 80px;
    padding: 0.75rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid var(--border-color);
}

form>small {
    display: block;
    margin: 0 0 10px 0;
}
