<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <style>
            h2 {
               text-align: center;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
