@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*, html, body {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html, body, #page {
    width: 100%;
    height: 100%;
    margin: 0;
}

#page {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

footer {
    margin-top: auto;
}

@media (max-width: 500px) {
    .nav-link > svg {
        width: 22px;
        height: 22px;
    }

    .tab-text {
        font-size: 0.7rem;
    }
}

/*
    Waving Hand Animation from Jake Jarvis (https://jarv.is/notes/css-waving-hand-emoji/)
*/
.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }